/**
 * @file
 * Styles for Selective Delete administration pages.
 */

.delete-selective-entity-form .fieldset #entity-type-wrapper,
.delete-selective-entity-form .fieldset #entity-wrapper,
.delete-selective-entity-form .fieldset #field-wrapper {
  float: left;
}

.delete-selective-entity-form .fieldset #entity-wrapper {
  margin-left: 5px;
}

.delete-selective-entity-form .fieldset #field-wrapper {
  clear: both;
}

.delete-selective-entity-form .fieldset #field-wrapper div {
   display: grid;;
}

.info-warning {
  color: #232429;
}